<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>burud samaj vadhu-var suchak samiti</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->


    <!-- bs4 links here -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>


    <!-- font icon links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-GLhlTQ8iN17SmeVH6qyuqF7rTlM6HAPB4l+K5cI8PTq5FfF5s2r0dAizPj7b" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/about.css" rel="stylesheet">
    <style>
        .box {
            height: 100%;
            padding: 25px;
        }

        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-button {
            background: #dfdcdc
        }

        ::-webkit-scrollbar-track-piece {
            background: #a4a3a3
        }

        ::-webkit-scrollbar-thumb {
            background: #eee
        }

        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            color: #fff;
            background-color: #343a40;
            transition: all 0.4s ease;
            border-radius: 0;
        }
        .nav-tabs .nav-link{
            color:  #343a40;;
            background-color: #fff;
            border-radius: 0;
        }
    </style>
</head>

<body>

    <section class="mt-2">
        <div class="container">
            <h4 class="text-dark text-center mb-3">Requests</h4>
            <div class="box shadow-sm border w-50 m-auto" style="max-height: 400px; overflow-y: scroll;">
                <!-- tabs -->
                <ul class="nav nav-tabs d-flex justify-content-center border-0" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="sent-tab" data-toggle="tab" href="#sent" role="tab"
                            aria-controls="sent" aria-selected="true">Sent</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="received-tab" data-toggle="tab" href="#received" role="tab"
                            aria-controls="received" aria-selected="false">Received</a>
                    </li>
                </ul>

                <!-- tabs content -->
                <div class="tab-content mt-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="sent" role="tabpanel" aria-labelledby="sent-tab">
                        <div class="table-responsive">
                            <table id="pending-table" class="table ">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            Full name
                                        </th>
                                        <th>
                                            District
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="sentBody">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="received" role="tabpanel" aria-labelledby="received-tab">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            Full name
                                        </th>
                                        <th>
                                            District
                                        </th>
                                        <th>
                                            Action
                                        </th>

                                    </tr>
                                </thead>
                                <tbody id="receivedBody">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <!-- buttons -->
                <div class="mt-4 position-sticky bg-white w-100" style="bottom: 0px;">
                    <div class="d-flex justify-content-center">
                        <div>
                            <a href="/" class="btn  btn-link mt-4">Back</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <!-- Footer Start -->

    <!-- Footer End -->


    <!-- Back to Top -->


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <!-- <script src="js/about.js"></script> -->


    <script>
        const sentBody = document.getElementById("sentBody")
        const receivedBody = document.getElementById("receivedBody")

        async function getList() {
            let sentArr, receivedArr
            await $.ajax({
                type: 'GET',
                url: '/getListofRequests',
                success: function (response) {
                    // Handle success response

                    sentArr = [...response.sentArr]
                    receivedArr = [...response.receivedArr]

                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.error(error);
                }
            });
            console.log(sentArr, receivedArr);

            if (sentArr.length) {
                sentBody.innerHTML = ""
                for (user of sentArr) {
                    let createrow = document.createElement("tr")

                    let nametd = document.createElement("td")
                    nametd.innerText = `${user.firstname} ${user.middlename} ${user.lastname}`

                    let statustd = document.createElement("td")
                    statustd.innerText = `${user.district}`

                    let actiontd = document.createElement("td")
                    let viewbtn = document.createElement("button")
                    viewbtn.style.color = "white"
                    viewbtn.style.backgroundColor = "#343a40"
                    viewbtn.style.border = "none"
                    viewbtn.style.padding = "3px 7px"
                    viewbtn.innerText = "View Profile"
                    viewbtn.style.fontSize = "13px"

                    let profileId = undefined
                    await $.ajax({
                        type: 'GET',
                        url: '/getProfileid',
                        data: { id: user.id },
                        success: function (response) {
                            // Handle success response
                            profileId = response.profileId
                            console.log(response.profileId)

                        },
                        error: function (xhr, status, error) {
                            // Handle error
                            console.error(error);
                        }
                    });

                    viewbtn.addEventListener('click', async () => {
                        window.location.href = `/detailprofile/${profileId}`
                    })
                    actiontd.appendChild(viewbtn)
                    createrow.append(nametd, statustd, actiontd)
                    sentBody.appendChild(createrow)
                }
            } else {
                sentBody.innerHTML = ""
                let noData = document.createElement("tr")
                noData.classList = "text-center text-danger fs-4"
                let noDatatd = document.createElement("td")
                noDatatd.colSpan = "3"
                noDatatd.innerText = "No Requests Sent"
                noData.appendChild(noDatatd)
                sentBody.append(noData)
            }

            if (receivedArr.length) {
                receivedBody.innerHTML = ""
                for (user of receivedArr) {
                    let createrow = document.createElement("tr")

                    let nametd = document.createElement("td")
                    nametd.innerText = `${user.firstname} ${user.middlename} ${user.lastname}`

                    let statustd = document.createElement("td")
                    statustd.innerText = `${user.district}`

                    let actiontd = document.createElement("td")
                    let viewbtn = document.createElement("button")
                    viewbtn.style.color = "white"
                    viewbtn.style.backgroundColor = "#343a40"
                    viewbtn.style.border = "none"
                    viewbtn.style.padding = "3px 7px"
                    viewbtn.innerText = "View Profile"
                    viewbtn.style.fontSize = "13px"
                    let profileId = undefined
                    await $.ajax({
                        type: 'GET',
                        url: '/getProfileid',
                        data: { id: user.id },
                        success: function (response) {
                            // Handle success response
                            profileId = response.profileId
                            console.log(response.profileId)

                        },
                        error: function (xhr, status, error) {
                            // Handle error
                            console.error(error);
                        }
                    });

                    viewbtn.addEventListener('click', async () => {
                        window.location.href = `/detailprofile/${profileId}`
                    })
                    actiontd.appendChild(viewbtn)

                    createrow.append(nametd, statustd, actiontd)
                    receivedBody.appendChild(createrow)
                }
            } else {
                receivedBody.innerHTML = ""
                let noData = document.createElement("tr")
                noData.classList = "text-center text-danger fs-4"
                let noDatatd = document.createElement("td")
                noDatatd.colSpan = "3"
                noDatatd.innerText = "No Requests Received"
                noData.appendChild(noDatatd)
                receivedBody.append(noData)
            }

        }




        getList()
    </script>
</body>

</html>